body {
    font-family: 'Roboto';
}

.hero, .information, .quote {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links, .hero-secondary {
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 28px;
    padding: 100px 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-main {
    font-size: 48px;
    max-width: 350px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    max-width: 450px;
}

.hero-button {
    width: 100px;
    padding: 8px 9px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-hero {
    height: 205px;
}

.information {
    padding: 50px 0;
    gap: 45px;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #1F2937;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
}

.info-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 20px;
    width: 250px;
}

.subtext {
    margin: 10px 0;
}

.quote {
    padding: 130px 0;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-container {
    max-width: 700px;
}

.quote-author {
    text-align: end;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
}